In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('train.csv', sep = ',')

In [5]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 978.1+ KB

In [8]:
#Trocar tipo da data
#df = pd.read_csv('train.csv', parse_dates=[0]) = pode ser assim também, chamando a função 'parse_dates'
df['datetime'] = pd.to_datetime(df['datetime'])

In [9]:
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
dtype: object

In [12]:
#Cria coluna 'Dia'
df['day'] = df['datetime'].dt.day
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1

In [13]:
#Coluna 'Mês'
df['month'] = df['datetime'].dt.month
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,1
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,1
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,1

In [33]:
#Coluna 'Ano'
df['year'] = df['datetime'].dt.year
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,Year,year
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,1,2011,2011
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,2011,2011
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1,2011,2011
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,1,2011,2011
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,1,2011,2011

In [32]:
df[['day', 'month', 'year']]

       day  month  year
0        1      1  2011
1        1      1  2011
2        1      1  2011
3        1      1  2011
4        1      1  2011
...    ...    ...   ...
10881   19     12  2012
10882   19     12  2012
10883   19     12  2012
10884   19     12  2012
10885   19     12  2012

[10886 rows x 3 columns]

In [38]:
# Apagar coluna
df = df.drop(columns= ['Year'])
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,1,2011
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,2011
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1,2011
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,1,2011
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,1,2011

In [53]:
data = df['day'].map(str) + '-' + df['month'].map(str)
print(data)

0          1-1
1          1-1
2          1-1
3          1-1
4          1-1
         ...
10881    19-12
10882    19-12
10883    19-12
10884    19-12
10885    19-12
Length: 10886, dtype: object

In [54]:
#Concatenar colunas
df['date'] = df['day'].map(str) + '/' + df['month'].map(str) + '/' + df['year'].map(str)
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,1,2011,1/1/2011
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,2011,1/1/2011
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1,2011,1/1/2011
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,1,2011,1/1/2011
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,1,2011,1/1/2011

In [55]:
df.dtypes

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
day                    int64
month                  int64
year                   int64
date                  object
dtype: object

In [56]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/10/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/11/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/12/2011' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/10/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/11/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '16/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '17/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/lib/python3.10/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/12/2012' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

datetime      datetime64[ns]
season                 int64
holiday                int64
workingday             int64
weather                int64
temp                 float64
atemp                float64
humidity               int64
windspeed            float64
casual                 int64
registered             int64
count                  int64
day                    int64
month                  int64
year                   int64
date          datetime64[ns]
dtype: object

In [61]:
df[df['date'].dt.month == 2]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,2,1,2011,2011-02-01
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17,2,1,2011,2011-02-01
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9,2,1,2011,2011-02-01
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6,2,1,2011,2011-02-01
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3,2,1,2011,2011-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10473,2012-12-02 19:00:00,4,0,0,2,16.40,20.455,82,12.9980,16,158,174,2,12,2012,2012-02-12
10474,2012-12-02 20:00:00,4,0,0,2,17.22,21.210,82,12.9980,12,142,154,2,12,2012,2012-02-12
10475,2012-12-02 21:00:00,4,0,0,2,18.04,21.970,77,15.0013,8,91,99,2,12,2012,2012-02-12
10476,2012-12-02 22:00:00,4,0,0,2,18.04,21.970,77,12.9980,11,85,96,2,12,2012,2012-02-12
10477,2012-12-02 23:00:00,4,0,0,2,17.22,21.210,82,8.9981,7,44,51,2,12,2012,2012-02-12

In [62]:
df[(df['date'].dt.month == 2 ) & (df['temp'] > 14)]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17,2,1,2011,2011-02-01
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17,2,1,2011,2011-02-01
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9,2,1,2011,2011-02-01
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6,2,1,2011,2011-02-01
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3,2,1,2011,2011-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10473,2012-12-02 19:00:00,4,0,0,2,16.40,20.455,82,12.9980,16,158,174,2,12,2012,2012-02-12
10474,2012-12-02 20:00:00,4,0,0,2,17.22,21.210,82,12.9980,12,142,154,2,12,2012,2012-02-12
10475,2012-12-02 21:00:00,4,0,0,2,18.04,21.970,77,15.0013,8,91,99,2,12,2012,2012-02-12
10476,2012-12-02 22:00:00,4,0,0,2,18.04,21.970,77,12.9980,11,85,96,2,12,2012,2012-02-12
10477,2012-12-02 23:00:00,4,0,0,2,17.22,21.210,82,8.9981,7,44,51,2,12,2012,2012-02-12

In [67]:
df[(df['temp'] < 15) & (df['humidity'] >= 88)].shape, df[(df['count'] >= 50) | (df['windspeed'] > 13)].shape

((264, 16), (8873, 16))

In [68]:
df[['temp','atemp']]

        temp   atemp
0       9.84  14.395
1       9.02  13.635
2       9.02  13.635
3       9.84  14.395
4       9.84  14.395
...      ...     ...
10881  15.58  19.695
10882  14.76  17.425
10883  13.94  15.910
10884  13.94  17.425
10885  13.12  16.665

[10886 rows x 2 columns]

In [79]:
#Valor maximo em cada coluna
df.nunique()

datetime      10886
season            4
holiday           2
workingday        2
weather           4
temp             49
atemp            60
humidity         89
windspeed        28
casual          309
registered      731
count           822
day              19
month            12
year              2
date            456
dtype: int64

In [80]:
df.value_counts()

datetime             season  holiday  workingday  weather  temp   atemp   humidity  windspeed  casual  registered  count  day  month  year  date
2011-01-01 00:00:00  1       0        0           1        9.84   14.395  81        0.0000     3       13          16     1    1      2011  2011-01-01    1
2012-05-01 21:00:00  2       0        1           1        26.24  30.305  65        8.9981     31      251         282    1    5      2012  2012-01-05    1
2012-05-01 13:00:00  2       0        1           2        29.52  33.335  51        15.0013    41      208         249    1    5      2012  2012-01-05    1
2012-05-01 14:00:00  2       0        1           2        30.34  33.335  48        16.9979    37      167         204    1    5      2012  2012-01-05    1
2012-05-01 15:00:00  2       0        1           2        30.34  33.335  45        15.0013    48      186         234    1    5      2012  2012-01-05    1
                                                                                                                                                         ..
2011-09-02 04:00:00  3       0        1           1        24.60  28.030  83        6.0032     2       2           4      2    9      2011  2011-02-09    1
2011-09-02 05:00:00  3       0        1           2        24.60  28.030  83        8.9981     0       20          20     2    9      2011  2011-02-09    1
2011-09-02 06:00:00  3       0        1           1        24.60  28.030  83        8.9981     3       73          76     2    9      2011  2011-02-09    1
2011-09-02 07:00:00  3       0        1           1        24.60  28.030  83        7.0015     6       253         259    2    9      2011  2011-02-09    1
2012-12-19 23:00:00  4       0        1           1        13.12  16.665  66        8.9981     4       84          88     19   12     2012  2012-12-19    1
Length: 10886, dtype: int64

In [81]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,1,2011,2011-01-01
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,2011,2011-01-01
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1,2011,2011-01-01
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,1,2011,2011-01-01
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,1,2011,2011-01-01

In [89]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'day', 'month', 'year', 'date'],
      dtype='object')

In [90]:
df.index

RangeIndex(start=0, stop=10886, step=1)

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  day         10886 non-null  int64
 13  month       10886 non-null  int64
 14  year        10886 non-null  int64
 15  date        10886 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(11)
memory usage: 1.3 MB

In [98]:
df.values

array([[Timestamp('2011-01-01 00:00:00'), 1, 0, ..., 1, 2011,
        Timestamp('2011-01-01 00:00:00')],
       [Timestamp('2011-01-01 01:00:00'), 1, 0, ..., 1, 2011,
        Timestamp('2011-01-01 00:00:00')],
       [Timestamp('2011-01-01 02:00:00'), 1, 0, ..., 1, 2011,
        Timestamp('2011-01-01 00:00:00')],
       ...,
       [Timestamp('2012-12-19 21:00:00'), 4, 0, ..., 12, 2012,
        Timestamp('2012-12-19 00:00:00')],
       [Timestamp('2012-12-19 22:00:00'), 4, 0, ..., 12, 2012,
        Timestamp('2012-12-19 00:00:00')],
       [Timestamp('2012-12-19 23:00:00'), 4, 0, ..., 12, 2012,
        Timestamp('2012-12-19 00:00:00')]], dtype=object)

In [99]:
df.axes

[RangeIndex(start=0, stop=10886, step=1),
 Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
        'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
        'day', 'month', 'year', 'date'],
       dtype='object')]

In [100]:
df.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed', 'casual', 'registered', 'count',
       'day', 'month', 'year', 'date'],
      dtype='object')

In [123]:
df.tail()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,19,12,2012,2012-12-19
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,19,12,2012,2012-12-19
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,19,12,2012,2012-12-19
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,19,12,2012,2012-12-19
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,19,12,2012,2012-12-19

In [137]:
#Amostragem de linhas aleatorias
df.sample(10)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
176,2011-01-08 15:00:00,1,0,0,1,8.20,8.335,32,30.0026,5,69,74,8,1,2011,2011-08-01
8412,2012-07-11 21:00:00,3,0,1,1,29.52,33.335,58,15.0013,69,322,391,11,7,2012,2012-11-07
10733,2012-12-13 15:00:00,4,0,1,1,14.76,17.425,34,8.9981,40,240,280,13,12,2012,2012-12-13
4295,2011-10-11 00:00:00,4,0,1,2,22.14,25.760,88,0.0000,14,16,30,11,10,2011,2011-11-10
7741,2012-06-02 22:00:00,2,0,0,1,23.78,27.275,46,8.9981,52,176,228,2,6,2012,2012-02-06
7993,2012-06-13 10:00:00,2,0,1,2,26.24,30.305,65,27.9993,64,134,198,13,6,2012,2012-06-13
1533,2011-04-09 18:00:00,2,0,0,2,15.58,19.695,82,7.0015,48,129,177,9,4,2011,2011-09-04
9493,2012-09-18 22:00:00,3,0,1,3,23.78,27.275,83,31.0009,14,137,151,18,9,2012,2012-09-18
961,2011-03-04 12:00:00,1,0,1,1,13.12,15.150,43,11.0014,10,87,97,4,3,2011,2011-04-03
2535,2011-06-13 13:00:00,2,0,1,1,28.70,31.820,37,0.0000,53,174,227,13,6,2011,2011-06-13

In [139]:
df.ndim

2

In [140]:
df.size

174176

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  datetime64[ns]
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
 12  day         10886 non-null  int64
 13  month       10886 non-null  int64
 14  year        10886 non-null  int64
 15  date        10886 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(3), int64(11)
memory usage: 1.3 MB

In [145]:
df.shape

(10886, 16)

In [164]:
df.describe()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132,9.992559,6.521495,2011.501929
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454,5.476608,3.444373,0.500019
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2011.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000,5.000000,4.000000,2011.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000,10.000000,7.000000,2012.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000,15.000000,10.000000,2012.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000,19.000000,12.000000,2012.000000

In [165]:
df['temp'].describe()

count    10886.00000
mean        20.23086
std          7.79159
min          0.82000
25%         13.94000
50%         20.50000
75%         26.24000
max         41.00000
Name: temp, dtype: float64

In [166]:
media = df[df['temp'] > df['temp'].mean()]
media

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
746,2011-02-14 11:00:00,1,0,1,1,21.32,25.000,23,16.9979,10,43,53,14,2,2011,2011-02-14
747,2011-02-14 12:00:00,1,0,1,1,22.96,26.515,22,30.0026,27,99,126,14,2,2011,2011-02-14
748,2011-02-14 13:00:00,1,0,1,1,23.78,27.275,19,26.0027,27,93,120,14,2,2011,2011-02-14
749,2011-02-14 14:00:00,1,0,1,1,24.60,29.545,15,32.9975,14,76,90,14,2,2011,2011-02-14
750,2011-02-14 15:00:00,1,0,1,1,22.96,26.515,21,43.9989,19,71,90,14,2,2011,2011-02-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10661,2012-12-10 15:00:00,4,0,1,2,20.50,24.240,87,11.0014,29,207,236,10,12,2012,2012-10-12
10662,2012-12-10 16:00:00,4,0,1,2,20.50,24.240,88,7.0015,37,308,345,10,12,2012,2012-10-12
10665,2012-12-10 19:00:00,4,0,1,1,21.32,25.000,77,19.0012,18,409,427,10,12,2012,2012-10-12
10668,2012-12-10 22:00:00,4,0,1,2,20.50,24.240,82,15.0013,11,115,126,10,12,2012,2012-10-12
10851,2012-12-18 13:00:00,4,0,1,1,20.50,24.240,42,19.0012,51,235,286,18,12,2012,2012-12-18

In [169]:
df['count'].describe()

count    10886.000000
mean       191.574132
std        181.144454
min          1.000000
25%         42.000000
50%        145.000000
75%        284.000000
max        977.000000
Name: count, dtype: float64

In [174]:
# Função 'quantilite()' pega somente o percentil desejado.
maior25 = df[df['count'] > df['count'].quantile(0.25)] 
maior25

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56,1,1,2011,2011-01-01
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84,1,1,2011,2011-01-01
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94,1,1,2011,2011-01-01
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106,1,1,2011,2011-01-01
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110,1,1,2011,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,19,12,2012,2012-12-19
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,19,12,2012,2012-12-19
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,19,12,2012,2012-12-19
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,19,12,2012,2012-12-19
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,19,12,2012,2012-12-19

In [175]:
total = df[(df['temp'] > df['temp'].mean()) & (df['count'] > df['count'].quantile(.25))]
total

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,date
746,2011-02-14 11:00:00,1,0,1,1,21.32,25.000,23,16.9979,10,43,53,14,2,2011,2011-02-14
747,2011-02-14 12:00:00,1,0,1,1,22.96,26.515,22,30.0026,27,99,126,14,2,2011,2011-02-14
748,2011-02-14 13:00:00,1,0,1,1,23.78,27.275,19,26.0027,27,93,120,14,2,2011,2011-02-14
749,2011-02-14 14:00:00,1,0,1,1,24.60,29.545,15,32.9975,14,76,90,14,2,2011,2011-02-14
750,2011-02-14 15:00:00,1,0,1,1,22.96,26.515,21,43.9989,19,71,90,14,2,2011,2011-02-14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10661,2012-12-10 15:00:00,4,0,1,2,20.50,24.240,87,11.0014,29,207,236,10,12,2012,2012-10-12
10662,2012-12-10 16:00:00,4,0,1,2,20.50,24.240,88,7.0015,37,308,345,10,12,2012,2012-10-12
10665,2012-12-10 19:00:00,4,0,1,1,21.32,25.000,77,19.0012,18,409,427,10,12,2012,2012-10-12
10668,2012-12-10 22:00:00,4,0,1,2,20.50,24.240,82,15.0013,11,115,126,10,12,2012,2012-10-12
10851,2012-12-18 13:00:00,4,0,1,1,20.50,24.240,42,19.0012,51,235,286,18,12,2012,2012-12-18

count    10886.000000
mean       191.574132
std        181.144454
min          1.000000
25%         42.000000
50%        145.000000
75%        284.000000
max        977.000000
Name: count, dtype: float64