In [21]:
import pandas as pd


#### Settings ###########
pd.set_option("max_colwidth", 1000)
pd.set_option("max_rows", 20)
pd.set_option("max_columns", 1000)
pd.set_option("precision", 2)
pd.options.display.float_format = "{:,.2f}".format

In [46]:
df = pd.read_csv('covid Live.csv',verbose=True )
df.head()

Tokenization took: 1.00 ms
Type conversion took: 2.99 ms
Parser memory cleanup took: 0.00 ms

,#,"Country,\nOther",Total\nCases,Total\nDeaths,New\nDeaths,Total\nRecovered,Active\nCases,"Serious,\nCritical",Tot Cases/\n1M pop,Deaths/\n1M pop,Total\nTests,Tests/\n1M pop,Population
0,1,USA,"98,166,904","1,084,282",NaN,"94,962,112","2,120,510","2,970","293,206","3,239","1,118,158,870","3,339,729","334,805,269"
1,2,India,"44,587,307","528,629",NaN,"44,019,095","39,583",698,"31,698",376,"894,416,853","635,857","1,406,631,776"
2,3,France,"35,342,950","155,078",NaN,"34,527,115","660,757",869,"538,892","2,365","271,490,188","4,139,547","65,584,518"
3,4,Brazil,"34,706,757","686,027",NaN,"33,838,636","182,094","8,318","161,162","3,186","63,776,166","296,146","215,353,593"
4,5,Germany,"33,312,373","149,948",NaN,"32,315,200","847,225","1,406","397,126","1,788","122,332,384","1,458,359","83,883,596"

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   #                  230 non-null    int64
 1   Country,
Other     230 non-null    object
 2   Total
Cases        230 non-null    object
 3   Total
Deaths       225 non-null    object
 4   New
Deaths         3 non-null      float64
 5   Total
Recovered    214 non-null    object
 6   Active
Cases       215 non-null    object
 7   Serious,
Critical  147 non-null    object
 8   Tot Cases/
1M pop  228 non-null    object
 9   Deaths/
1M pop     223 non-null    object
 10  Total
Tests        214 non-null    object
 11  Tests/
1M pop      214 non-null    object
 12  Population         228 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 23.5+ KB

In [29]:
df.columns

Index(['#', 'Country,\nOther', 'Total\nCases', 'Total\nDeaths', 'New\nDeaths',
       'Total\nRecovered', 'Active\nCases', 'Serious,\nCritical',
       'Tot Cases/\n1M pop', 'Deaths/\n1M pop', 'Total\nTests',
       'Tests/\n1M pop', 'Population'],
      dtype='object')

In [30]:
df['Serious,\nCritical'].describe()

count     147
unique     77
top         4
freq       11
Name: Serious,\nCritical, dtype: object

In [47]:
df.shape

(230, 13)

In [49]:
df.isnull().sum()

#                       0
Country,\nOther         0
Total\nCases            0
Total\nDeaths           5
New\nDeaths           227
Total\nRecovered       16
Active\nCases          15
Serious,\nCritical     83
Tot Cases/\n1M pop      2
Deaths/\n1M pop         7
Total\nTests           16
Tests/\n1M pop         16
Population              2
dtype: int64

In [52]:
df.describe()

           #  New\nDeaths
count 230.00         3.00
mean  115.50        18.00
std    66.54        21.00
min     1.00         3.00
25%    58.25         6.00
50%   115.50         9.00
75%   172.75        25.50
max   230.00        42.00