In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('train.csv', sep = ',')

In [63]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year,tempx2
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,1,1,2011,19.68
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,2011,18.04
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1,2011,18.04
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,1,1,2011,19.68
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,1,1,2011,19.68

In [ ]:
df.info()

In [ ]:
#Trocar tipo da data
#df = pd.read_csv('train.csv', parse_dates=[0]) = pode ser assim também, chamando a função 'parse_dates'
df['datetime'] = pd.to_datetime(df['datetime'])

In [ ]:
df.dtypes

In [ ]:
#Cria coluna 'Dia'
df['day'] = df['datetime'].dt.day
df.head()

In [ ]:
#Coluna 'Mês'
df['month'] = df['datetime'].dt.month
df.head()

In [ ]:
#Coluna 'Ano'
df['year'] = df['datetime'].dt.year
df.head()

In [ ]:
df[['day', 'month', 'year']]

In [ ]:
# Apagar coluna
df = df.drop(columns= ['Year'])
df.head()

In [ ]:
data = df['day'].map(str) + '-' + df['month'].map(str)
print(data)

In [ ]:
#Concatenar colunas
df['date'] = df['day'].map(str) + '/' + df['month'].map(str) + '/' + df['year'].map(str)
df.head()

In [ ]:
df.dtypes

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.dtypes

In [ ]:
df[df['date'].dt.month == 2]

In [ ]:
df[(df['date'].dt.month == 2 ) & (df['temp'] > 14)]

In [ ]:
df[(df['temp'] < 15) & (df['humidity'] >= 88)].shape, df[(df['count'] >= 50) | (df['windspeed'] > 13)].shape

In [ ]:
df[['temp','atemp']]

In [ ]:
#Valor maximo em cada coluna
df.nunique()

In [ ]:
df.value_counts()

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.info()

In [ ]:
df.values

In [ ]:
df.axes

In [ ]:
df.columns

In [ ]:
df.tail()

In [ ]:
#Amostragem de linhas aleatorias
df.sample(10)

In [ ]:
df.ndim

In [ ]:
df.size

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df['temp'].describe()

In [ ]:
media = df[df['temp'] > df['temp'].mean()]
media

In [ ]:
df['count'].describe()

In [ ]:
# Função 'quantile()' pega somente o percentil desejado.
maior25 = df[df['count'] > df['count'].quantile(0.25)] 
maior25

In [ ]:
total = df[(df['temp'] > df['temp'].mean()) & (df['count'] > df['count'].quantile(.25))]
total

In [ ]:
df['count'].describe()

In [ ]:
df['temp'].value_counts()

In [ ]:
#'normalize', mostra porcentagem de cada valor contado.
df['temp'].value_counts(normalize = True)

In [ ]:
df['casual'].describe()

In [ ]:
df['casual'].value_counts()

In [ ]:
df['casual'].value_counts(normalize=True)

In [ ]:
df.head()

In [ ]:
df.groupby('year').mean()

In [ ]:
df['season'].value_counts()

In [ ]:
df['temp'].hist()

In [ ]:
df['temp'].plot.box()

In [ ]:
df['temp'].describe()

In [ ]:
df['humidity'].hist()

In [ ]:
df['humidity'].plot.box()

In [ ]:
df['humidity'].describe()

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(df['temp'],bins=10)

In [ ]:
sns.boxplot(y='temp', data=df )

In [ ]:
sns.boxplot(y = 'temp', x = 'season', data = df)

In [ ]:
sns.violinplot(y= 'temp',data = df)

In [ ]:
sns.violinplot(y= 'temp', x = 'season', data = df)

In [ ]:
sns.violinplot(y= 'temp', x= 'season', data = df, hue = 'weather')

In [ ]:
sns.boxplot(y= 'humidity', x= 'weather', data = df)

In [ ]:
sns.violinplot(y='humidity' , x ='weather' , data= df)

In [ ]:
df.groupby('workingday')['count'].mean()

In [ ]:
df.groupby('workingday')['count'].mean().plot.bar()

In [ ]:
df.groupby('month')['count'].mean()

In [ ]:
df.groupby('month')['count'].mean().plot.bar()

In [ ]:
sns.barplot(y='count' ,x= 'workingday', data= df)

In [ ]:
sns.barplot(y='count' , x= 'season', data= df)

In [ ]:
df.groupby('season')['count'].mean()

In [ ]:
df['season'].value_counts()

In [ ]:
df['season'].value_counts().plot.bar()

In [ ]:
sns.barplot(y= 'count', x='season', hue='workingday', data=df)

In [ ]:
df.groupby('season').mean()

In [ ]:
df['workingday'].dtype

In [ ]:
df.head()

In [ ]:
df['workingday'].value_counts()

In [ ]:
df['workingday'].value_counts().plot.bar()

In [ ]:
sns.barplot(y= 'casual', x='weather', data= df)

In [ ]:
df.groupby('weather').mean()

In [ ]:
df.groupby('month')['count'].describe()

In [ ]:
df['count'].describe()['50%']

In [ ]:
df.groupby('month')['count'].describe()['50%'].plot()

In [ ]:
df.groupby('month')['count'].describe()['mean'].sort_index(ascending=False).plot()

In [ ]:
df.groupby('month')['count'].describe()['max'].plot()

In [ ]:
df.groupby('month')['count'].describe()['min'].plot()

In [ ]:
df.groupby('month')['count'].describe()['count']

Variáveis Contínuas

In [ ]:
sns.pairplot(x_vars= 'temp', y_vars= 'count', data= df, size= 7)

In [ ]:
sns.pairplot(x_vars= 'temp', y_vars= 'count', hue= 'season',data= df, size= 7)

In [ ]:
sns.pairplot(x_vars= 'humidity', y_vars= 'count',size= 10,hue= 'season' , data = df, kind= 'reg')

In [ ]:
sns.pairplot(x_vars= 'temp', y_vars= 'casual',size= 7,hue= 'holiday' , data = df)

In [ ]:
sns.pairplot(x_vars= 'temp', y_vars= 'casual',size= 7,hue= 'holiday' , data = df, kind= 'reg')

In [19]:
df.describe()['temp']['50%']

20.5

In [40]:
#Verificar valore nulos
df.isnull()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10882,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10883,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10884,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10885,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [43]:
df.isnull()['temp']

0        False
1        False
2        False
3        False
4        False
         ...
10881    False
10882    False
10883    False
10884    False
10885    False
Name: temp, Length: 10886, dtype: bool

In [52]:
df.loc[1:2]

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,day,month,year
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,2011
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,1,1,2011

In [54]:
defdf.iloc[:,0:3]

                 datetime  season  holiday
0     2011-01-01 00:00:00       1        0
1     2011-01-01 01:00:00       1        0
2     2011-01-01 02:00:00       1        0
3     2011-01-01 03:00:00       1        0
4     2011-01-01 04:00:00       1        0
...                   ...     ...      ...
10881 2012-12-19 19:00:00       4        0
10882 2012-12-19 20:00:00       4        0
10883 2012-12-19 21:00:00       4        0
10884 2012-12-19 22:00:00       4        0
10885 2012-12-19 23:00:00       4        0

[10886 rows x 3 columns]